*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #8aa350;
}

.container
{
position: relative;
top: 50px;
}
.cup
{
  position: relative;
  width: 280px;
  height: 300px;
  background: linear-gradient(to right, #dbc2db, #bf92bf);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.top
{
  position: absolute;
  top: -30px;
  left: 0px;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right,#f9f9f9,#d9d9d9);
  border-radius: 50%;
}

.circle
{
  position: absolute;
  top: -25px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(to left,#f9f9f9,#d9d9d9);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.tea
{
  position: absolute;
  top: -22px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(#48240a,#8b4513);
  border-radius: 50%;
}

.handle
{
  position: absolute;
  right: -70px;
  top: 40px;
  width: 160px;
  height: 180px;
  border: 25px solid #bf92bf;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(42deg);
}

.vapor
{
  position: relative;
  top: -360px;
  right: -22px;
  left: 10px;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapor span
{
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: vape 5s linear infinite;
  opacity: 0;
  filter:blur(8px);
  animation-delay: calc(var(--i)* -0.5s);
}
@keyframes vape
{
  0%
  {
  transform: translateY(0) scaleX(1);
  opacity: 0;
  }
  15%
  {
    opacity: 1;
  }
  50%
  {
  transform: translateY(-150px) scaleX(5);
  }
  95%
  {
    opacity:0;
  }
  100%
  {
  transform: translateY(-300px) scaleX(10);
  }
}

.cookie
{
  position: absolute;
  top: 80px;
  left: -150px;
  width: 250px;
  height: 250px;
  background: #fce4c0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: cook 5s;
  animation-direction: alternate;
}

@keyframes cook
{
  0%
  {
    left:0px; to right:-150px;
  }
}

.icing
{
  position: absolute;
  top: 105px;
  left: -122px;
  width: 195px;
  height: 195px;
  background: #ffffff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: ice 5s;
  animation-direction: alternate;
}

@keyframes ice
{
  0%
  {
    left:0px; to right:-150px;
  }
}

.Sprinkle
{
  position: absolute;
  top: 30px;
  left: 120px;
  width: 50px;
  height: 10px;
  background:#f797d1;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  transform: rotate(45deg);
}
.second
{
  position: absolute;
  top: 60px;
  right: 90px;
  width: 50px;
  height: 10px;
  background:#60d6e0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  transform: rotate(140deg);
}
.third
{
  position: absolute;
  top: 80px;
  right: 35px;
  width: 50px;
  height: 10px;
  background:#faf034;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  transform: rotate(10deg);
}
.fourth
{
  position: absolute;
  top: 90px;
  left: -1px;
  width: 50px;
  height: 10px;
  background:#43154a;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  transform: rotate(65deg);
}
.fifth
{
  position: absolute;
  top: 130px;
  right: 45px;
  width: 50px;
  height: 10px;
  background:#3be016;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  transform: rotate(65deg);
}
.sixth
{
  position: absolute;
  top: 130px;
  left: -1px;
  width: 50px;
  height: 10px;
  background:#f2340a;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  transform: rotate(65deg);
}
