body{
  background: linear-gradient(
  to bottom,
  #5d9634,
  #5d9634 50%,
  #538c2b 50%,
  #538c2b
);

background-size: 100% 28px;
}

#container {
  position: relative;
  margin: 0 auto;
  top: 150px;
  height: 300px;
  width: 300px;
  background: #FFF;
}

#skull {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 200px;
  height: 200px;
  background: pink;
  animation-play-state: paused;
}

#eye {
  position: absolute;
  left: 25px;
  top: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #000;
  animation-play-state: inherit;
}

#bone-rect {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 50px;
  background: #CCC;
}

#bone-knob {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #CCC;
}

.knob-loc {
  width: -25px;
  top: -25px;
}
